# permissions for end users to view startupcpuboosts.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: startupcpuboost-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: kube-startup-cpu-boost
    app.kubernetes.io/part-of: kube-startup-cpu-boost
    app.kubernetes.io/managed-by: kustomize
  name: startupcpuboost-viewer-role
rules:
- apiGroups:
  - autoscaling.x-k8s.io
  resources:
  - startupcpuboosts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - autoscaling.x-k8s.io
  resources:
  - startupcpuboosts/status
  verbs:
  - get
